<p>Try:</p>
<ul>
  <li><a href="http://ogre.herokuapp.com/leereilly">http://ogre.herokuapp.com/leereilly</a></li>
  <li><a href="http://ogre.herokuapp.com/defunkt">http://ogre.herokuapp.com/defunkt</a></li>
  <li><a href="http://ogre.herokuapp.com/briandoll">http://ogre.herokuapp.com/briandoll</a></li>
  <li>http://localhost:4567/@github_login</li>
</ul>
<img src="proposal.png" width="50%">
